<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Parallel Cucumber Suite" >
	<listeners>
		<listener class-name="com.vrize.listeners.CustomChainTestReporter"/>
		<listener class-name="com.vrize.listeners.XrayListener"/>
		<!-- RetryListener removed - using RetryUtility instead -->
	</listeners>
	<test name="All Tests" parallel="tests">
		<classes>
			<class name="com.vrize.runners.TestRunner"/>
		</classes>
	</test>
</suite>
